<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot3_2vue3.mapper.equipmapper.TemperaturesMapper">
    <select id="findAllTemp" resultMap="temp">
        select * from equipment e,temperature t where e.id=t.equipid and e.state=1;
    </select>

    <resultMap id="temp" type="com.example.springboot3_2vue3.domain.equipment.Temperature">
        <id property="id" column="id"></id>
        <result property="temperatures" column="temperatures"></result>
        <result property="level" column="level"></result>
        <result property="classes" column="classes"></result>
        <association property="equipment" column="id" javaType="com.example.springboot3_2vue3.domain.equipment.Equipment">
            <result property="id" column="id"></result>
            <result property="name" column="name"></result>
            <result property="power" column="power"></result>
            <result property="state" column="state"></result>
            <result property="location" column="location"></result>
        </association>
    </resultMap>
</mapper>