<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot3_2vue3.mapper.equipmapper.Deviceuse2Mapper">
    <select id="selectAlltodayById" resultType="com.example.springboot3_2vue3.domain.equipment.Deviceuse2">
        SELECT * FROM `deviceuse2` WHERE equipmentid = #{equipmentid} AND begindate like  '${date}%'
        ORDER BY  begindate desc
    </select>

<select id="selectAllinfo" resultType="com.example.springboot3_2vue3.domain.equipment.Deviceuse2">

    SELECT * FROM `deviceuse2` WHERE enddate IS NOT NULL
</select>


</mapper>




