<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot3_2vue3.mapper.equipmapper.YearpoweruseMapper">
    <insert id="InsertOrUpdatePoweruse" parameterType="com.example.springboot3_2vue3.domain.equipment.Yearpoweruse">
        INSERT into yearpoweruse (date,poweruse)
        values (curdate(),#{poweruse})
            ON DUPLICATE KEY UPDATE
                                 poweruse=#{poweruse};
    </insert>



</mapper>